body{
    overflow: hidden;
}


.navstyle{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: .5rem 1rem;
}

.navstyle a:hover{
    transition: 500ms;
    background-color: lightgrey ;
}

.navitems{
    justify-content: start;
}

.loginitem{
    margin-left: 55%;
    align-self: flex-end;
}

.fakewindow{
    width: 100vw;
    height: 100vh;
    border: 3px;
    border-color: black;
    display: flex;
}

.fakewindow > .sidewindow{
    flex-grow: 1;
    overflow: auto; 
    background-color: brown;
}
