.status-window{
    background-color: aqua;
    flex-grow: 5;
    border: 3px;
    border-left: black;
    border-right: black;
}

.status-maker{
  margin: auto;
  width: 85%;
  padding: 10px;
}

.status-input{
    width: 80%;
    height: 100px;
}


.feed{
    width: 100%;
    height: 100%;
    background-color: black;
}

.status{
    background-color: white;
}

.status-info{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.icon{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}


.icon-counter{
    width: 20px;
    height: 20px;
}