.fakewindow{
    width: 100vw;
    height: 100vh;
    border: 3px;
    border-color: black;
    display: flex;
}

.fakewindow > div{
    border: 3px;
    border-color: black;
    flex-grow: 1;
    overflow: auto;
}

.fakewindow > .statuswindow{
    flex-grow: 5;
    background-color: aqua;
}
.fakewindow > .sidewindow{
    background-color: brown;
   
}